[user]
	email = matthewcellison2@gmail.com
	name = Matthew Ellison
[alias]
	unstage = reset --
	UndoBranch = 
	u = checkout .
	ut = !echo 'test' && echo  what
	hist = log --oneline --max-count=10 
	hist2 = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	histme =  log --pretty=oneline --author='Matthew Ellison'
	unstage = reset HEAD
	resetme = clean -fd
	
	branches = !echo '__' && git for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' && echo '__'
	branches2 = !git for-each-ref --sort=-committerdate refs/heads/* --format='%(committerdate:iso) %(refname:short) (%(contents:subject))'

	undomerge = reset --hard HEAD^
	diffdev = diff dev --compact-summary
	remotes = remote -v

[core]
	autocrlf = false
	safecrlf = false
	editor = \"C:\\Users\\matthewellison\\AppData\\Local\\Programs\\Microsoft VS Code\\code.exe\" \"--diff\"  \"$LOCAL\" \"$REMOTE\"
	

[difftool "kdiff3"]
	cmd = \"C:\\Program Files\\kdiff3\\kdiff3.exe\" \"$LOCAL\" \"$REMOTE\"
    keepBackup = false

[difftool]
	prompt = true

[difftool "vscode"]
	prompt = true
	cmd = \"C:\\Users\\matthewellison\\AppData\\Local\\Programs\\Microsoft VS Code\\code.exe\" \"--diff\"  \"$LOCAL\" \"$REMOTE\"
	
[difftool "vscode2"]
	cmd = "code --wait --diff $LOCAL $REMOTE"

[difftool "vsdiffmerge"]
	cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
	keepBackup = false
[merge]
	tool = vsdiffmerge
[mergetool]
	prompt = true
[mergetool "vsdiffmerge"]
	cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
	keepBackup = false
	trustExitCode = true
	
	
[difftool "vscode2"]
	cmd = "code --wait --diff $LOCAL $REMOTE"

[difftool "vsdiffmerge"]
	cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
	keepBackup = false
[merge]
	tool = vsdiffmerge
[mergetool]
	prompt = true
[mergetool "vsdiffmerge"]
	cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
	keepBackup = false
	trustExitCode = true

[diff]
	tool = vscode
	